/* POLICE */

@font-face {
  font-family: 'soccer';
  src: url('../fonts/SoccerLeague.ttf') format('opentype');
}

@font-face {
  font-family: 'muara';
  src: url('../fonts/muara.ttf') format('opentype');
}

@font-face {
  font-family: 'campus';
  src: url('../fonts/campus.ttf') format('opentype');
}

@font-face {
  font-family: 'northon';
  src: url('../fonts/Northon.otf');
}

@font-face {
  font-family: 'queen';
  src: url('../fonts/queen.ttf') format('opentype');
}

/* PAGE */

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
}

p {
  font-family: 'helvetica', 'serif';
  font-size: 100%;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfdbe7;
  width: 100%;
  height: 20vh;
}

header div {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

h1 {
  font-family: 'soccer', 'serif';
  font-size: 4vh;
  max-height: 70%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h2 {
  font-family: 'campus', 'serif';
  font-size: 2vh;
  max-height: 30%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media (width: 360px) {
  #nom, #titre {
    margin-right: 50px;
  }
}

@media (width: 568px) {
  #nom, #titre {
    margin-right: 200px;
  }
}

@media (width: 667px) {
  #nom, #titre {
    margin-right: 300px;;
  }
}

@media (width: 736px) {
  #nom, #titre {
    margin-right: 350px;;
  }
}

#menuBar {
  display: none;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c54d2b;
  width: 100%;
  height: 10%;
  font-family: 'muara', 'serif';
  font-size: 200%;
  z-index: 100;
}

.navFixed {
  position: fixed;
  top: 0;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c54d2b;
  height: 80%;
  font-family: 'muara', 'serif';
  font-size: 160%;
  position: relative;
  z-index: 2;
}

nav a, #menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}

nav a:hover, #menu a:hover {
  background-color: #f8e596;
}

/* SECTION */

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(215, 215, 193, 0.75);
  color: black;
  /* border-width: 60px;
  border-color: white; */
  margin-top: 60px;
  border-radius: 10px;
  padding-bottom: 2%;
}

article {
  border: solid;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
@media (max-width: 768px)
{
  article {
    border: none;
  }
}

progress {
  background-color: #bfdbe7;
  border: solid;
  border-radius: 10px;
  margin-left: 20px;
}

progress::-webkit-progress-bar {
  background-color: #bfdbe7;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #c54d2b;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #c54d2b;
  border: solid;
  border-radius: 10px;
  margin-left: 20px;
}

.progress-value {
  margin-left: 20px;
}

#competence {
  display: none;
}

#competence p {
  width: 100%;
}

#competence p > span {
  display: inline-block;
  width: 10%;
}

#experience, #formation, #loisir {
  display: none;
  justify-content: space-around;
}

#contact {
  margin-bottom: 60px;
}

#contact div {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  vertical-align: bottom;
}

#contact span {
  display: inline-block;
  vertical-align: bottom; 
  font-family: 'muara', serif;
  font-size: 120%;
  margin-left: 2%;
}

#contact img {
  width: 2.5%;
  height: 2.5%;
  display: block;
}
@media (width: 320px) {
  #contact img {
    width: 4%;
    height: 4%;
  }
}
@media (width: 375px) {
  #contact img {
    width: 4%;
    height: 4%;
  }
}

#contact input, #contact textarea {
  border: solid;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  background: transparent;
  width: 60%;
  padding-left: 2px;
  outline: none;
}

#contact input {
  height: 40px;
}

#contact textarea {
  height: 100px;
}

#contact button {
  width: 40%;
  height: 40px;
  border: solid;
  border-radius: 10px;
  background-color: #c54d2b;
  font-family: 'northon', 'serif';
  font-size: 140%;
  outline: none;
}

#contact button:hover {
  cursor: pointer;
}

#compCont, #expCont, #forContIni, #forContPer, #loiMus, #loiCult {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80%;
}

#compCont > div, #expCont > div, #forContIni > div, #contact > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#compCont > div, #forContIni > div, #loiMus > article, #loiCult > article {
  width: 40%;
  min-height: 100%;
}

#experience > div, #contact > div {
  width: 90%;
}

#contact > div {
  align-items: center;
  height: 100%;
}

.DIVphone {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

#forContPer > article {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

h3 {
  display: flex;
  align-items: center;
  font-family: 'campus', serif;
  font-size: 180%;
  color: #bfdbe7;
  justify-content: center;
  background-color: rgba(0, 0, 0.25);
  width: 80%;
  padding-top: 1%;
  /* border: 10px solid; */
  /* border-radius: 10px; */
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-family: 'muara', serif;
  color: #c54d2b;
  font-size: 180%;
  text-align: center;
  margin-bottom: 0;
  line-height: 1em;
}

h5, h6, p {
  text-align: center;
  margin-bottom: 0;
}

h5 {
  font-size: 1.5em;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  background-color: #bfdbe7;
  padding: 2vh;
  height: 6vh;
  bottom: 0;
}

#lien {
  display :flex;
  justify-content: space-around;
  width: 80%;
  height: auto;
}

#lien img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

footer p {
  margin-right: 0;
  align-self: flex-end;
}

@media (max-width: 768px) { /* MOBILE */
  p {
    font-size: 70%;
  }

  h3 {
    padding-top: 2%;
  }

  /* HEADER */

  header {
    justify-content: flex-end;
    height: 10vh;
  }

  header p {
    margin-top: 0;
    margin-bottom: 0;
  }

  #menu {
    height: 80vh;
  }

  #menuBar {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* margin-left: 100px; */
  }

  #menuBar:hover {
    cursor: pointer;
  }

  nav {
    display: none;
  }

  section {
    width: 100%;
    border-radius: 0;
  }

  #compCont, #expCont, #forContIni, #forContPer, #loiMus, #loiCult {
    flex-direction: column;
  }

  #compCont > div, #forContIni > div, #forContPer > article, #loiMus > article, #loiCult > article {
    width: 100%;
  }
}
