<header id="header">
    <div>
      <h1>JONATHAN DE LA ROSA</h1>
      <h2>Developpeur Web / Web Mobile</h2>
    </div>
    <img id="menuBar" src="web/img/menuBar.png" alt="Barre de Menu" />
  </header>

  <nav>
    <a class="menuComp" href="#competence">Competences</a>
    <a class="menuExp" href="#experience">Experiences</a>
    <a class="menuForm" href="#formation">Formations</a>
    <a class="menuLoisir" href="#loisir">Loisirs</a>
    <a class="menuCont" href="#footer">Contact</a>
  </nav>

  <div id="menu">
    <a class="menuComp" href="#competence">Competences</a>
    <a class="menuExp" href="#experience">Experiences</a>
    <a class="menuForm" href="#formation">Formations</a>
    <a class="menuLoisir" href="#loisir">Loisirs</a>
    <a class="menuCont" href="#contact">Contact</a>
  </div>

  <div id="container">

    <section id="competence">

      <h3>Mes Competences</h3>
      <div id="compCont">

        <div>
          <article>
            <h4>Developpement</h4>
            <h5>Web Frontend</h5>
            <p>HTML5<progress value="0" data-value="90" max="100">90%</progress><span class="progress-value">0%</span></p>
            <p>CSS3<progress value="0" data-value="80" max="100">80%</progress><span class="progress-value">0%</span></p>
            <p>JavaScript & JQuery<progress value="0" data-value="70" max="100">70%</progress><span class="progress-value">0%</span></p>
            <h5>Web Backend</h5>
            <p>PHP<progress value="0" data-value="70" max="100">70%</progress><span class="progress-value">0%</span></p>
            <p>Symfony<progress value="0" data-value="30" max="100">30%</progress><span class="progress-value">0%</span></p>
            <p>Laravel<progress value="0" data-value="10" max="100">10%</progress><span class="progress-value">0%</span></p>
            <h5>Applicatif</h5>
            <p>Swift<progress value="0" data-value="50" max="100">50%</progress><span class="progress-value">0%</span></p>
          </article>

          <article>
            <h4>Systeme de Gestion de Base de Donnees</h4>
            <p>MySQL / MariaDB<progress value="0" data-value="70" max="100">70%</progress><span class="progress-value">0%</span></p>
            <p>SQLServer<progress value="0" data-value="10" max="100">10%</progress><span class="progress-value">0%</span></p>
            <p>Oracle<progress value="0" data-value="10" max="100">10%</progress><span class="progress-value">0%</span></p>
            <p>PHPMyAdmin<progress value="0" data-value="70" max="100">70%</progress><span class="progress-value">0%</span></p>
          </article>
        </div>

        <div>
          <article>
            <h4>Systeme d'Exploitation</h4>
            <p>Windows / Windows Server<progress value="0" data-value="80" max="100">80%</progress><span class="progress-value">0%</span></p>
            <p>Debian / Ubuntu<progress value="0" data-value="60" max="100">60%</progress><span class="progress-value">0%</span></p>
            <p>MacOS<progress value="0" data-value="60" max="100">60%</progress><span class="progress-value">0%</span></p>
          </article>

          <article>
            <h4>Bureautique</h4>
            <p>Microsoft Office<progress value="0" data-value="60" max="100">60%</progress><span class="progress-value">0%</span></p>
            <p>LibrOffice<progress value="0" data-value="60" max="100">60%</progress><span class="progress-value">0%</span></p>
            <p>Open Office<progress value="0" data-value="50" max="100">50%</progress><span class="progress-value">0%</span></p>
          </article>

          <article>
            <h4>Reseaux</h4>
            <p>DHCP<progress value="0" data-value="50" max="100">50%</progress><span class="progress-value">0%</span></p>
            <p>DNS<progress value="0" data-value="50" max="100">50%</progress><span class="progress-value">0%</span></p>
            <p>Active Directory<progress value="40" data-value="40" max="100">40%</progress><span class="progress-value">0%</span></p>
          </article>

          <article>
            <h4>Comptabilite Publique et Paie</h4>
            <p>Saisie Budget / Execution<progress value="0" data-value="90" max="100">90%</progress><span class="progress-value">0%</span></p>
            <p>Saisie Bulletin / Declaration Sociale<progress value="0" data-value="80" max="100">80%</progress><span class="progress-value">0%</span></p>
            <p>Gestion de la Dematerialisation<progress value="0" data-value="90" max="100">90%</progress><span class="progress-value">0%</span></p>
          </article>
        </div>
      </div>
    </section>

    <section id="experience">
      <h3>Mes Experiences</h3>

        <div>
          <article>
            <h4>Technicien Support Informatique</h4>
            <h5>Berger Levrault</h5>
            <h6>Octobre 2010 - Avril 2018 et Octobre 2009 Avril 2010</h6>
            <p>Référent Technique / Environnement</p>
            <p>Formateur Client Dématérialisation</p>
            <p>Support Software Comptabilité / Paie / Facturation</p>
          </article>
  
          <article>
            <h4>Charge de Clientele</h4>
            <h5>Florajet</h5>
            <h6>Octobre 2010 - Juin 2010</h6>
            <p>Vente</p>
            <p>SAV</p>
          </article>
        </div>
       
        <div>
          <article>
            <h4>Charge de Clientele</h4>
            <h5>Teleperformance</h5>
            <h6>Septembre 2008 - Octobre 2009</h6>
            <p>Chargé de Clientèle SFR</p>
            <p>BackOffice SFR</p>
          </article>
  
          <article>
            <h4>Teleprospecteur</h4>
            <h5>Teleperformance</h5>
            <h6>Février 2008 - Septembre 2008</h6>
            <p>Vente Cofinoga Assurance</p>
            <p>Vente Laser Assurance</p>
          </article>
        </div>
    </section>

     
    <section id="formation">
      <h3>Formations Initiales</h3>

      <div id="forContIni">
        <div>
            <article>
                <h4>Diplome de Developpeur Web / Web Mobile</h4>
                <h5>Ecole Régionale du Numérique d'Alès</h5>
                <p>Actuellement</p>
              </article>


            <article>
              <h4>1ere Annee de Licence Organisme et Biosphere</h4>
              <h5>Centre Universitaire de Recherche J-F Champollion d'Albi</h5>
              <p>Septembre 2005 - Juin 2006</p>
            </article>        
        </div>
        
        <div>
          <article>
            <h4>Diplome de Technicien Superieur en Informatique</h4>
            <h5>AFPA de Grenoble - Pont de Claix</h5>
            <p>Janvier 2007 - Décembre 2007</p>
          </article>    
      
          <article>
            <h4>Baccalaureat Scientifique Science de la Vie et de la Terre</h4>
            <h5>Lycée Jean Jaurès de Carmaux</h5>
            <p>2004</p>
            </article>
        </div>
      </div>

      <h3>Formation Personnelle Continue</h3>
      
      <div id="forContPer">
            <article>
                <h4>Certification Developpement Web</h4>
                <h5>OpenClass Rooms</h5>
                <p>Mars 2017 - Actuellement</p>
                <h5>Sololearn</h5>
                <p>Avril 2018 - Actuellement</p>
              </article>
      </div>       
    </section>

    <section id="loisir">
      <h3>Musique</h3>

      <div id="loiMus">
        <article>
          <h4>Passionne de Musique</h4>
          <p>Musiques Actuelles</p>
          <p>Jazz</p>
          <p>Musique Classique</p>
          <p>Membre du groupe fusion Aliena Field</p>
        </article>

        <article>
          <h4>Pratique de la Musique</h4>
          <p>Basse</p>
          <p>MAO: Cubase, VSTI</p>
          <p>Composition et Enregistrement</p>
          <p>Notions Guitare</p>
          <p>Notions Piano</p>
        </article>
      </div>

      <h3>Culture</h3>
      
      <div id="loiCult">
          <article>
              <h4>Litterature</h4>
              <p>Classique</p>
              <p>Contemporaine (Science-Fiction, Polar)</p>
              <p>Théatre</p>
              <p>Bande Déssinée</p>
            </article>   
          <article>
              <h4>Autre</h4>
              <p>Théatre</p>
              <p>Musée</p>
              <p>Voyage</p>
          </article>
      </div> 
    </section>

    <section id="contact">
      <h3>Contact</h3>
      <div>
        <div class="DIVphone"><img src="web/img/phone.png" alt="phone" /><span>06 31 59 60 72</span></div>
        <div class="DIVphone"><img src="web/img/mail.png" alt="mail" /><span>jonathan.delarosa.dev[@]gmail.com</span></div>
        <input type="text" placeholder="Votre nom" id="INPnom" />
        <input type="text" placeholder="Votre mail" id="INPmail" />
        <input type="text" placeholder="Votre Objet" id="INPobject" />
        <textarea placeholder="Votre message" id="TEXcontent"></textarea>
        <button id="BUTenvoyer">Envoyer</button>
      </div>
    </section>
  </div>

  <footer id="footer">
    <div id="lien">
      <a href="https://gitlab.com/JonathanDLR" target="_blank"><img src="web/img/gitlab.png" alt="gitlab" /></a>
      <a href="https://www.linkedin.com/in/jonathan-de-la-rosa-b31125160/" target="_blank"><img src="web/img/linkedin.png" alt="linkedin" /></a>
      <a href="web/ressource/CV-2018-DEV Jonathan De La Rosa.pdf" target="_blank"><img src="web/img/cv.png" alt="cv" /></a>
    </div>
    <p> © JDLR</p>
  </footer>